* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	font-family: 'Roboto Mono', monospace;
}

body {
	background-color: #121317;
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
}

.container {
	background-color: #202229;
	width: 60vmin;
	padding: 2.5em 2em;
	display: grid;
	place-items: center;
	font-size: 3vmin;
	border-radius: 10px;
}

#output-color {
	width: 25vmin;
	height: 25vmin;
	border: 0.5em solid #f5f5f5;
	border-radius: 50%;
	margin: auto;
	display: grid;
	place-items: center;
}

#output-color span {
	display: block;
	width: calc(100% - 1em);
	height: calc(100% - 1em);
	border-radius: 50%;
}

.show-color {
	animation: pop 0.8s;
}

@keyframes pop {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

input[type='text'] {
	width: 100%;
	background-color: transparent;
	border: 2.5px dashed #f5f5f5;
	font-size: 1.3em;
	padding: 0.5em 0;
	margin: 1em 0;
	border-radius: 8px;
	color: #f5f5f5;
	text-align: center;
	cursor: default;
	text-transform: uppercase;
}

.buttons {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.buttons button {
	font-size: 1em;
	padding: 0.8em 1.7em;
	border-radius: 8px;
	font-weight: 600;
	cursor: pointer;
}

#gen-btn {
	background-color: #18f98f;
	color: #202229;
}

#copy-btn {
	border: 3px solid #18f98f;
	background-color: transparent;
	color: #18f98f;
}

.alert {
	background-color: rgba(255, 255, 255, 0.3);
	font-size: 2.5vmin;
	padding: 1em 1.5em;
	position: fixed;
	top: 10px;
	right: 10px;
	color: #f5f5f5;
	transition: 0.5s;
	transform: translateX(calc(100% + 10px));
}

.alert.show {
	transform: translateX(0);
}
